In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("sample_100.csv")
df

    SOBAODANH  Toán
0     2026199  4.75
1    15017619  4.10
2    48033248  3.75
3    10007779  3.60
4    25021758  1.95
..        ...   ...
95   38002963  1.95
96   30009111  2.85
97   17001622  5.00
98    1087243  3.50
99   43003005  4.60

[100 rows x 2 columns]

In [4]:
missing = df[df["Toán"].isna()]
missing

Empty DataFrame
Columns: [SOBAODANH, Toán]
Index: []