In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [7]:
# Đọc file
df = pd.read_csv("../data_2025/sample/sample_100.csv", dtype={"SBD": str})
df.head()

        SBD  TOAN
0  02083823  5.00
1  38012819  4.00
2  34006288  8.00
3  08000914  5.25
4  01015076  8.00

In [ ]:
from scipy import stats
#Tinh zscore
df["zscore_math"] = stats.zscore(df["TOAN"])
df

         SBD  TOAN  zscore_math
0   02083823  5.00     0.025282
1   38012819  4.00    -0.555909
2   34006288  8.00     1.768854
3   08000914  5.25     0.170580
4   01015076  8.00     1.768854
..       ...   ...          ...
95  02081005  6.75     1.042366
96  53006884  5.50     0.315877
97  37017504  6.50     0.897068
98  43002113  4.35    -0.352492
99  31007394  8.00     1.768854

[100 rows x 3 columns]

In [ ]:
# df[(abs(df['zscore_math']) > 3)]

Empty DataFrame
Columns: [SBD, TOAN, zscore_math]
Index: []

In [10]:
scores = df["TOAN"]

n = len(scores)
mean = np.mean(scores)
std = np.std(scores, ddof=1)  # độ lệch chuẩn mẫu

# Mức tin cậy 95%
alpha = 0.05
t_value = stats.t.ppf(1 - alpha/2, df=n-1)

# Sai số chuẩn
se = std / np.sqrt(n)

# Khoảng tin cậy
ci_lower = mean - t_value * se
ci_upper = mean + t_value * se

print("Số lượng mẫu:", n)
print("Trung bình mẫu:", mean)
print("Độ lệch chuẩn mẫu:", std)
print(f"Khoảng tin cậy 95% cho kỳ vọng: [{ci_lower:.3f}, {ci_upper:.3f}]")

Số lượng mẫu: 100
Trung bình mẫu: 4.956500000000001
Độ lệch chuẩn mẫu: 1.7292734359151003
Khoảng tin cậy 95% cho kỳ vọng: [4.613, 5.300]